
<footer>
    <div class="container2">
        <h3>follow me on </h3>
        <h4><a href="#">Instagram</a></h4>
        <h4><a href="">Ingram</a></h4>
        <h4><a href="">Istagram</a></h4>
    </div>
    <div class="container2">
        <h3>contact us on  </h3>
        <form action="" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>

        </form>
        
    </div>
</footer>


</body>
<script src="/js/index.js"></script>
</html>