<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width : 800px)" href="/css/phone.css">
    <title>Document</title>
</head>

<body>

    <a href="#" id="open" onclick="opennav()">&#9776;</a>
    <div class="navbar">
        <div class="logo">
            <h2>TS 365</h2>
        </div>
        <ul id="navlist">
            <a href="#" id="close" onclick="closenav()">&times;</a>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>

  