@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#open , #close{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px 5px 0px;
    width: 100%;

}

#navlist{
    display: flex;
}
#navlist li {
     list-style: none;
}
#navlist  a {
     text-decoration: none;
     padding: 0px 10px 0px 10px;
     color: black;
     font-size: 20px;
}
#navlist  a:hover{
    color: grey;
    transition: 0.5s;
    text-decoration: underline ;
}







/* from here  */
.image{
    display: flex;
    margin: 60px;
    background-color: #F2F2F2;
}
.image img{
    
    width: 40%;
    height: 40%;
}
.container{
    margin: 30px;
    padding: 40px;
}
.container h1 , p , a{
    padding: 20px 0px 20px 0px;
    text-decoration: none;
}
.container button{
    color: white;
    background-color: black;
    padding: 10px 10px 10px 10px;
}
.container a{
    color: white;
 
}

#blogs{
 display: flex;
 margin: 60px;
 flex-wrap: wrap;
 align-items: center;
}

.container1  {
    flex: 25%;
    /* padding: 0px 5px 0px 5px; */
    object-fit: cover;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    
}
.container1 img {
   /* margin: auto; */
   height: 300px;
   object-fit: cover;
   width: 400px;
}



.container1 a , h1 , p {
    padding: 10px 1px 10px 4px;
}

#readmore:hover{
 color: blue;
}

#readmore1:hover{
    transition: 0.5s;
    transform-origin: 20% 40%;
   }
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}
.container2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container2 a{
    color: black;
}
.container2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.container2 form input{
    width: 500px;
    padding: 5px;
}
.container2 form textarea{
    width: 500px;
    padding: 5px;
}




@media (hover: hover) {
    /* Write the styling which you want WITH hover.*/
    .container1:hover  {
        transform: scale(1.2);
        transition: 0.5s;
        cursor: pointer;
    }
   }